:root {
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.375), 0 2px 4px -2px rgb(0 0 0 / 0.375);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body {
    background-color: oklch(14.5% 0 0);
    color: white;
    letter-spacing: -0.025em;
} 

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid oklch(26.9% 0 0);
}

.menu__ul {
    list-style: none;
    display: flex;
    gap: 1.375rem;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.5;
}

.menu__a--current {
    opacity: 1;
}

.nav__button {
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.nav__user-img {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    border: 1px solid oklch(26.9% 0 0);
    object-fit: cover;
}

main {
    padding: 1rem 2rem;
}

#list__product {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 0.75rem;
}

.li__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid oklch(26.9% 0 0);
    border-radius: 1rem;
    box-shadow: var(--shadow-md);
}

.li__card div {
    display: flex;
    flex-direction: column;
}

.li__name {
    font-weight: 500;
    font-size: 1.375rem;
    text-wrap: balance;
    padding-bottom: 0.25rem;
}

.li__tag {
    background-color: oklch(43.2% 0.095 166.913 / 0.25);
    border: 1px solid oklch(43.2% 0.095 166.913);
    letter-spacing: 0;
    color: oklch(100% 0 0 / 0.8);
    padding: 0.25rem 0.75rem;
    width: fit-content;
    border-radius: 9999px;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

.li__price {
    font-size: 2.375rem;
    padding-bottom: 0.25rem;
    letter-spacing: -0.05em;
    align-self: flex-end;
    margin-bottom: 0.25rem;
}

.li__button {
    background-color: oklch(43.2% 0.095 166.913 / 0.8);
    color: oklch(100% 0 0);
    border: none;
    padding: 0.75rem 0.25rem;
    border-radius: 0.5rem;
    cursor: pointer;
    align-self: stretch;
}

#list__order {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    padding: 0 3rem;
    gap: 0.75rem;
}

.li__order {
    padding: 1rem;
    border: 1px solid oklch(26.9% 0 0);
    border-radius: 1rem;
    box-shadow: var(--shadow-md);
}

.li__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.li__title {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -0.025em;
}

.li__number {
    font-size: 0.875rem;
    opacity: 0.75;
    font-weight: 500;
}

.li__date {
    font-size: 0.75rem;
    opacity: 0.5;
    letter-spacing: -0.025em;
}

.li__user {
    font-size: 0.75rem;
    opacity: 0.625;
    text-align: center;
}

.order__list {
    margin-bottom: 1rem;
}

.order__item {
    display: flex;
    justify-content: space-between;
    font-size:0.875rem;
    list-style-position: inside;
    padding: 0.25rem 0;
    border-top: 1px solid oklch(26.9% 0 0);
}

.order__item span strong {
    font-weight: 500;
    opacity: 0.625;
}

.order__item--total {
    font-size:1.125rem;
    font-weight: 500;
    border-bottom: 1px solid oklch(26.9% 0 0);
}